// colors

$primary: #5350ab;
$dark: #21222a;
$dark2: #1a1a1f;
$gray: #6a7285;
$light-gray: #c4c4c4;
$light: #f3f3f3;
$main-gradient: linear-gradient(45deg, $primary, #714b97);

// fonts

$base-font: Avenir, Helvetica, Arial, sans-serif;

// spacing

$sidebar-width: 300px;
